# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
.cache-loader
dist
node_modules
npm-debug.log
yarn-error.log
/vendor
resources/assets/config-local.json
resources/.DS_Store
resources/assets/.DS_Store
.gitignore
resources/assets/build/.DS_Store
.gitignore
resources/assets/scripts/.DS_Store
resources/assets/styles/.DS_Store
resources/views/.DS_Store
resources/views/.DS_Store
resources/views/.DS_Store
